.pAndHWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pItem {
  width: 100%;
  margin-right: 0.4rem;
}

.hItem {
  width: 100%;
  margin-left: 0.4rem;
}

.pItem,
.hItem {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(235, 248, 255);

  & p {
    font-weight: bold;
    margin-bottom: 0;
  }
}
